html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

.mdl-textfield {
  width: 100%;
}

.mdl-grid {
  width: 67%;
  margin: 0 auto;
}

.mdl-button {
  float: right;
  margin-right: 1rem;
}

#newQuestion {
  margin-top: 10rem;
  margin-bottom: 10rem;
	background-color: rgba(33, 150, 243, .85);
  height: 400px;
}

#waitTime {
  margin-top: 10rem;
  margin-bottom: 10rem;
  background-color: grey;
  height: 400px;
}

#gatherStudentData {
  margin-top: 10rem;
  margin-bottom: 10rem;
  background-color: yellow;
  text-align: center;
}
